<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <%- include('views/includes/head_styles.ejs'); %>
    <%- include('views/includes/head_scripts.ejs'); %>
    <%- include('views/includes/head_random.ejs'); %>
</head>
<body>
    <%- include('views/includes/header.ejs'); %>
    
    <div class="contenido">
    
        <%- include('views/includes/paginacion_producto.ejs'); %>
        
    </div>
</body>
</html>