<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Iniciar Sesi칩n</title>
    <%- include('../../includes/head_styles.ejs'); %>
    <%- include('../../includes/head_scripts.ejs'); %>
    <%- include('../../includes/head_random.ejs'); %>
</head>
<body>
    <%- include('../../includes/header.ejs'); %>

    <div class="contenido">
    
        <div class="contenedor-formulario">
            <h1>Iniciar Sesi칩n</h1>
            <%
            if (sesion.errorLogin) {
            %>
            	<strong class="alerta alerta-roja"><%=sesion.errorLogin%></strong>
            <%
            }
            %>
            <form action="<%=url%>/usuario/login" method="POST">
                <label for="correo">Correo</label>
                <input type="email" name="correo"/>
                <label for="clave">Contrase침a</label>
                <input type="password" name="clave"/>
                <button type="submit">Iniciar Sesi칩n</button>
            </form>
        </div>

    </div>

<%
delete sesion.errorLogin;
%>
</body>
</html>