<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Favoritos</title>
    <%- include('../../includes/head_styles.ejs'); %>
    <%- include('../../includes/head_scripts.ejs'); %>
    <%- include('../../includes/head_random.ejs'); %>
</head>
<body>
    <%- include('../../includes/header.ejs'); %>
    
    <div class="contenido">
    
        <%- include('../../includes/paginacion_producto.ejs'); %>
        
    </div>

</body>
</html>