<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Crear Categoría</title>
    <%- include('../../includes/head_styles.ejs'); %>
    <%- include('../../includes/head_scripts.ejs'); %>
    <%- include('../../includes/head_random.ejs'); %>
</head>
<body>
    <%- include('../../includes/header.ejs'); %>
    
    <div class="contenido">
    
        <div class="contenedor-formulario">
            <h1>Crear Categoría</h1>
            <%
            if (sesion.crearCategoria == "Exitoso") {
            %>
                <strong class="alerta alerta-verde">Categoría creada exitosamente</strong>
            <%
            }
            if (sesion.crearCategoria == "Fallido") {
            %>
                <strong class="alerta alerta-roja">Error al crear la categoría</strong>
            <%
            }
            %>
            <form action="<%=url%>/categoria/save" method="POST">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" required/>
                <button type="submit">Crear</button>
            </form>
        </div>
        
    </div>

<%
delete sesion.crearCategoria;
%>
</body>
</html>